.DS_Store
.cache/*
*.pyc
*.sw[po]
__pycache__/*
*/__pycache__/*
.coverage
.pytest_cache/*
.tox/*
.mypy_cache/*

docs/_build/*
docs/_static/*
docs/_templates/*

hobbit_core.egg-info/*
dist/*
build/*

tests/tst_app.sqlite
models.csv
