[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
jinja2 = "*"
tox = "*"

[dev-packages]
sphinx = "*"
sphinx-autobuild = "*"
flask-sphinx-themes = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
flake8 = "*"
twine = "*"

[requires]
python_version = "3.7"
