[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
ipython = "*"
cx-Oracle = "*"
zipp = {extras = ["hobbit", "hobbit_core"], path = "."}
hobbit-core = {extras = ["hobbit", "hobbit_core"], version = "==2.0.0"}

[dev-packages]
sphinx = "==2.0.1"
sphinx-autobuild = "*"
flask-sphinx-themes = "*"
psycopg2-binary = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
flake8 = "*"
twine = "*"
mypy = "*"
mypy-extensions = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
