[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
jinja2 = "*"
pypandoc = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
flask-sphinx-themes = "*"
sphinx = "*"
sphinx-autobuild = "*"
recommonmark = "*"
pytest-env = "*"

[dev-packages]

[requires]
python_version = "3.7"
