from sqlalchemy.orm import relationship  # NOQA F401

from hobbit_core.db import Column, SurrogatePK, reference_col  # NOQA F401

from app.exts import db


{% for model, columns in metadata.items() -%}
class {{ model }}(SurrogatePK, db.Model):
    {% for c in columns -%}
    {{ c.field }} = Column(db.{{ c.type }}
        {%- if c.type_arg %}({{ c.type_arg }}){% endif %}
        {%- if c.is_unique %}, unique=True{% endif %}
        {%- if c.is_index %}, index=True{% endif %}
        {%- if c.is_null %}, nullable=True{% endif %}
        {%- if c.doc %}, doc='{{ c.doc }}'{% endif %})
    {%- endfor %}
{% if metadata | length != loop.index %}

{% endif %}
{%- endfor %}